@page "/wiki/wiki-detail/{id:long}"

@inject IWikiService WikiService


<MRow NoGutters Style="padding: 8px;">
    @if (_wikiDetails?.Result != null || _wikiDetails?.Total != 0)
    {
        @foreach (var item in _wikiDetails.Result)
        {
            <MCol key="@item.Id" Cols=3 Style="margin: 5px;">
                <MCard Elevation="1" OnClick="() => { }">
                    <MCardTitle>
                        <span style="font-weight:bold;margin-left:8px;font-size:12px;">
                            @item.Document_Id
                        </span>
                    </MCardTitle>
                    
                    <div style="font-size:16px;white-space: pre-line;overflow: hidden;text-overflow: ellipsis;height:60px;font-size:12px;padding:5px;">
                        @item.Content
                    </div>
                    <MCardActions>
                        <MSpacer></MSpacer>
                        <MButton Right Text>删除</MButton>
                    </MCardActions>
                </MCard>
            </MCol>
        }
    }
    else
    {
        <p style="font-size: 20px;text-align: center;color: darkgray;">
            暂无数据
        </p>
    }
</MRow>

<MPagination Value="page" ValueChanged="OnPageChanged" Class="my-4" Length=@((int)Math.Ceiling((double)_wikiDetails.Total / pageSize))></MPagination>