@page "/wiki"

<MCard Class="mt-6">
    <MCardText Class="pa-6">
        <MRow NoGutters>
            <MCol Cols="12"
                  Sm="6"
                  Md="8">
                <MTextField @bind-Value="Search" Color="primary" Class="rounded-2" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1" Placeholder="Search">
                    <PrependInnerContent>
                        <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </MTextField>
            </MCol>
            <MCol Cols="6"
                  Md="2">
                <MButton Right Color="primary" MinWidth=80 Height=32 Class="ml-6 rounded-pill" OnClick="OnSearch">
                    搜索
                </MButton>
            </MCol>
            <MCol Cols="6"
                  Md="2">
                <MButton Right Color="primary" MinWidth=80 Height=32 Class="ml-6 rounded-pill" OnClick="() => AddWikiVisible = true">
                    添加知识库
                </MButton>
            </MCol>
        </MRow>
    </MCardText>


    <MCardText>
        <div class="d-flex">
            @* <div class="mr-auto pt-3 text-btn neutral-lighten-1--text">Showing @((_userPage.PageIndex-1)*_userPage.PageSize+1) to @(_userPage.PageIndex*_userPage.PageSize) of @_userPage.CurrentCount entries</div> *@
            @* @if (_userPage.PageCount > 0) *@
            @* { *@
            @*     <MPagination @bind-Value="_userPage.PageIndex" Color="primary" Circle Length=@_userPage.PageCount></MPagination> *@
            @* } *@
        </div>
    </MCardText>
</MCard>