#root{
  min-height:auto !important;
  height: 100% !important;
}

body{
  height: 100% !important;
  min-height: auto !important;
}

html{
  height: 100% !important;
  min-height: auto !important;
}

.ant-app{
  height: 100% !important;
  min-height: auto !important;
}