@page "/application/{Id}"

@inject IChatApplicationService ChatApplicationService

<MCard Class="mt-6" Style="padding: 8px;height:80vh;overflow:auto;">
    <MTabs Vertical>
        <MTab>
            应用配置
        </MTab>
        <MTab>
            对话记录
        </MTab>
        <MTab>
            发布应用
        </MTab>

        <MTabItem>
            <MCard Flat Style="padding:5px;">
                <ApplicationConfiguration Value="Application"></ApplicationConfiguration>
            </MCard>
        </MTabItem>
        <MTabItem>
            <MCard Flat Style="padding:5px;">
                <MCardText>
                    <p>
                        Morbi nec metus. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Nunc sed turpis.
                    </p>

                    <p>
                        Suspendisse feugiat. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. In hac habitasse platea dictumst. Fusce ac felis sit amet ligula pharetra condimentum.
                    </p>

                    <p>
                        Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Nam commodo suscipit quam. In consectetuer turpis ut velit. Sed cursus turpis vitae tortor. Aliquam eu nunc.
                    </p>

                    <p>
                        Etiam ut purus mattis mauris sodales aliquam. Ut varius tincidunt libero. Aenean viverra rhoncus pede. Duis leo. Fusce fermentum odio nec arcu.
                    </p>

                    <p class="mb-0">
                        Donec venenatis vulputate lorem. Aenean viverra rhoncus pede. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Fusce commodo aliquam arcu. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi.
                    </p>
                </MCardText>
            </MCard>
        </MTabItem>
        <MTabItem>
            <MCard Flat Style="padding: 5px;">
                <PublishChatShare Value="Application" />
            </MCard>
        </MTabItem>
    </MTabs>
</MCard>