@inherits LayoutComponentBase

<MApp>
    <div style="height:100%;margin:0;padding:0;">
        @Body
    </div>
    
    <MButton Dark Fab Fixed Bottom Right Href="https://github.com/239573049/fast-wiki">
        <MIcon>mdi-github</MIcon>
    </MButton>
</MApp>
  